*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000000;
    background-color: #fafafa;
}

header {
    background-color: #ffffff;
}

/* Typography */

h2 {
    font-size: 2rem;
    line-height: 1.08;
    margin: 0;
}

h1, h3, p {
    margin:0;
}

p {
    line-height: 1.5;
}

a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.about-me {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



/* Image */

.logo-img {
    width: 7vw;
    max-width: 38px;
    border-radius: 50%;
}

.article-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    /* object-fit: contain; */
    /* object-fit: fill; */
    /* height: 230px; */
}

.profile-img{
    border-radius: 50%;
    width: 50%;
    max-width: 230px;
    padding-left: 1em;
}

/* Layout */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    /* border: red 2px solid; */
}

.logo-container {
    display: flex;
    align-items: center;
    gap:0.2em;
}

.nav-menu {
    display: flex;
    gap:1.5em;
}

.container {
    width: 90%;
    padding-top: 1.5em;
    margin: 0 auto;
}

.about-me-title {
    padding-right: 2.5em;
    margin: 0.7em 0;
}

.article-body{
    display: flex;
    margin-top: 2em;
    flex-direction: column;
    gap: 1em;
}

.article-title-hero {
    padding-right: 4em;
}

.hero-post {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 4em 1em 1em 1em;
    gap: 1em;
}

.article-post {
    margin-bottom: 3rem;
}

.article-title {
    margin-top: 0.5em;
}

/* Media QUERIES */

@media (min-width: 480px) {
    .article-posts {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1em;
    }
}

@media (min-width: 768px) {
    .about-me {
        position: relative;
        bottom: 200px;
        max-width: 1000px;
        width: 90%;
        padding-left: 6em; 
    }

    .about-me-title  {
        padding-left: 7em;
    }

    .about-me-sub {
        padding-left: 11em;
    }

    .article-body {
        margin-top: 3em;
    }

    h4, .article-posts {
        position: relative;
        bottom: 200px;
    }

}

@media (min-width: 1024px){

    h1 {
        font-size: 2rem;
    }

    .about-me {
        max-width: 1000px;
        width: 90%;
        padding-left: 6em; 
    }

    .about-me-title  {
        padding-left: 5.5em;
    }

    .about-me-sub {
        padding-left: 11em;
    }

    .article-body {
        margin-top: 5em;
    }
}


/* utility */

.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.font-negative-color {
    color: #ffffff;
}

.background-none {
    background: none;
}

.center {
    text-align: center;
}

.mb-0 {
    margin-bottom: 0;
}

.font-fiftypercent-increase {
    font-size: 1.5rem;
}