*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000000;
}

/* Typography */

h2 {
    font-size: 2rem;
    line-height: 1.08;
    margin: 0;
}

h1, h3, p {
    margin:0;
}

p {
    line-height: 1.5;
}

a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}


/* Image */

.logo-img {
    width: 7vw;
    border-radius: 50%;
}

.article-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    /* object-fit: contain; */
    /* object-fit: fill; */
    /* height: 230px; */
}

.profile-img{
    border-radius: 50%;
    width: 40%;
    padding-left: 1em;
}

/* Layout */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    /* border: red 2px solid; */
}

.logo-container {
    display: flex;
    align-items: center;
    gap:0.2em;
}

.nav-menu {
    display: flex;
    gap:1.5em;
}

.container {
    width: 90%;
    max-width: ;
    padding-top: 1.5em;
    margin: 0 auto;
}

.hero-post-full > p, .hero-post-full > img, .hero-post-full > div, .hero-post-full > h2,
.article-date,  
.article-preview,
.profile-img-container {
    margin-top: 1em;
}

.article-post{
    margin-bottom: 3rem;
}

