*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000000;
    /* border: blue 3px solid; */
}

/* Typography */

h2 {
    font-size: 2rem;
    line-height: 1.08;
    margin: 0;
}

h1, h3, p {
    margin:0;
}

p {
    line-height: 1.5;
}

a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

footer a {
    text-decoration: underline;
}

.hero-post {
    /* text-shadow: 0 0 5px #b7b7b7, 0 0 10px #b7b7b7, 0 0 20px #b7b7b7, 0 0 40px #b7b7b7, 0 0 80px #b7b7b7, 0 0 160px #b7b7b7; */
    /* text-shadow: 3px 3px 0 #000; */
    text-shadow: 0 2px #816fca ;
}

/* Image */

.logo-img {
    width: 7vw;
    max-width: 35px;
    border-radius: 50%;
}

.article-img {
    width: 100%;
    object-fit: cover;
}

.profile-img{
    border-radius: 50%;
    width: 40%;
    padding-left: 1em;
}

/* Layout */

header, .logo-container, .nav-menu, .hero-post {
    display: flex;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    /* border: red 2px solid; */
}

.logo-container {
    align-items: center;
    gap:0.2em;
}

.nav-menu {
    gap:1.5em;
}

.article-title-hero {
    padding-right: 4em;
}

.container {
    width: 94%;
    margin: 0 auto;
}

.hero-post {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    flex-direction: column;
    padding: 4em 1em 1em 1em;
    gap: 1em;
    min-height: 285px;
}


.article-post1, .article-post2, .article-post3, 
.article-post4, .article-post5, .article-post6  {
    display: grid;
    grid-template: 1em auto auto auto auto 1em  / 1em auto 1em ;
    gap: 1em 0;
}

.article-img {
    grid-row: 2 ;
    grid-column: 2 ;
}

.article-date {
    grid-row: 3;
    grid-column: 2;
}

.article-title {
    grid-row: 4;
    grid-column: 2;
}

.article-preview {
    grid-row: 5;
    grid-column: 2;
}

footer {
    text-align: center;
    padding: 2em 0;
}

/* utility */

.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.font-negative-color {
    color: #ffffff;
}

.background-none {
    background: none;
}

.center {
    text-align: center;
}

.mb-0 {
    margin-bottom: 0;
}

.hidden {
    display: none;
}

/* MEDIA Queries */

@media (min-width: 480px){
    .hero-post {
        height: 35vh;
        justify-content: end;
    }

    .container {
        display: grid;
        grid-template-columns: minmax(200px, 350px) minmax(200px, 350px) ; 
        grid-template-areas: 
            "content1 content2"
            "content3 content4"
            "content5 content6";
        width: 95%;
        margin: 0 auto;
    }

    .article-post1 {
        grid-area: content1;
    }

    .article-post2 {
        grid-area: content2;
    }

    .article-post3 {
        grid-area: content3;
    }

    .article-post4 {
        display: grid;
        grid-area: content4;
    }

    .article-post5 {
        display: grid;
        grid-area: content5;
    }

    .article-post6 {
        display: grid;
        grid-area: content6;
    }
}

@media(min-width: 768px) {
    .hero-post {
        min-height: 45vh;
    }
    
    .container {
        grid-template-columns: repeat(3, minmax(200px, 1fr)); 
        grid-template-areas: 
            "content1 content2 content3"
            "content4 content5 content6";
        width: 95%;
        margin: 0 auto;
    }
}